{% if entry_list %}
    <ul id="show_list">
        {% for entry in entry_list %}
            <li>
                {% if entry.isTelevision %}
                    {% if entry.onlyEpisodes %}
                        {{entry.title}} | Episodes: {{entry.episodeCount}}
                        <div class="current_place">Current Episode: {{entry.currentEpisode}}</div>
                        <input type="button" class="episode_button" value="Update Place" data-entry="{{entry.entryid}}" 
                        data-season="no" data-episode="{{entry.currentEpisode}}">
                    {% else %}
                        {{entry.title}} | Seasons: {{entry.seasonCount}} | Episodes: {{entry.episodeCount}}
                        <div class="current_place">Current Season: {{entry.currentSeason}} | Current Episode: {{entry.currentEpisode}}</div>
                        <input type="button" class="episode_button" value="Update Place" data-entry="{{entry.entryid}}" 
                        data-season="{{entry.currentSeason}}" data-episode="{{entry.currentEpisode}}">
                    {% endif %}
                {% else %}
                    {{entry.title}} | Running Time: {{entry.runtime}} Minutes | Release Year: {{entry.releaseYear}}
                    </br>
                {% endif %}
                <input type="button" class="delete_button" value="Delete Entry" data-entry="{{entry.entryid}}">
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p id="empty_list_notif">This list is empty!</p>
    <ul id="show_list"> 
    </ul>
{% endif %}
<div id="add_auto_entry">
    <input type="text" id="show_name_auto" name="show_name_auto" placeholder="Enter media title...">
    <input type="button" id="add_show_auto" name="add_show_auto" value="Add to list">
    <label for="mediaType">What type of media?</label>
    <select id="mediaType" name="mediaType">
        <option value="show">TV Show</option>
        <option value="movie">Movie</option>
    </select>
    <p id="input_error">Error finding media. Make sure the title is spelled and capitialized correctly, and that you've selected
        the correct type of media.
    </p>
</div>
<form id="add_custom_entry" action="{{list_id}}/add_custom" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Show Title">
    <label for="seasonCount">Season Count:</label>
    <input type="number" name="seasonCount">
    <label for="episodeCount">Episode Count:</label>
    <input type="number" name="episodeCount">
    <input type="checkbox" name="onlyEpisodes">
    <label for="episodeCount">Don't Count Seasons</label>
    <input type="submit" id="add_show_custom" value="Add to List">
</form>
</br>
<input type="button" id="entry_mode_button" value="Switch to manual show entry">
{% csrf_token %}
<script>
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    var autoEntryMode = true
    
    var showAutoInput = document.getElementById("show_name_auto")
    var showAutoSubmit = document.getElementById("add_show_auto")

    var customEntryForm = document.getElementById("add_custom_entry")
    customEntryForm.hidden = true
    var autoEntryForm = document.getElementById("add_auto_entry")

    document.getElementById("entry_mode_button").onclick = function() {
        autoEntryMode = !autoEntryMode
        if (autoEntryMode) {
            customEntryForm.hidden = true
            autoEntryForm.hidden = false
            this.value = "Switch to manual show entry"
        } else {
            customEntryForm.hidden = false
            autoEntryForm.hidden = true
            inputError.hidden = true
            this.value = "Switch to automatic show entry"
        }
    }

    async function deleteEntry() {
            this.parentElement.remove()
            var response = await fetch("{{list_id}}/delete", {
                method: "POST",
                body: this.dataset.entry,
                mode: "same-origin",
                headers: {'X-CSRFToken': csrftoken},
            })
        }
    
    var deleteButtons = document.getElementsByClassName("delete_button")
    for (i in deleteButtons) {
        deleteButtons[i].onclick = deleteEntry
    }

    async function updatePlace() {
        try {
                var season = 1
                var onlyEpisodes = (this.dataset.season == "no")
                if (!onlyEpisodes) {
                    season = parseInt(prompt("Enter season:", String(this.dataset.season)))
                }
                if (parseInt(season) > 0) {
                    var episode = parseInt(prompt("Enter episode:", String(this.dataset.episode)))
                    if (parseInt(episode) > 0) {
                        var response = await fetch(("{{list_id}}/update/" + season + "/" + episode), {
                            method: "POST",
                            body: this.dataset.entry,
                            mode: "same-origin",
                            headers: {'X-CSRFToken': csrftoken},
                        })
                        this.dataset.episode = episode

                        if (onlyEpisodes) {
                            this.parentElement.getElementsByClassName("current_place")[0].innerText = 
                            "Current Episode: " + episode
                        } else {
                            this.dataset.season = season
                            this.parentElement.getElementsByClassName("current_place")[0].innerText = 
                            "Current Season: " + season + " | Current Episode: " + episode
                        }
                    }
                }
            } catch(error) {
                console.error(error)
        }
    }

    var updateButtons = document.getElementsByClassName("episode_button")
    for (i in updateButtons) {
        updateButtons[i].onclick = updatePlace
    }

    inputError = document.getElementById("input_error")
    inputError.hidden = true
    customEntryForm = document.getElementById("add_custom_entry")
    customEntryForm.hidden = true
    
    showAutoSubmit.onclick = async function() {
        showAutoSubmit.disabled = true
        showAutoSubmit.value = "Looking up show info..."
        showAutoInput.disabled = true
        console.log(document.getElementById("mediaType").value)
        var data = null;
        var listEntry = null;
        try {
            if (document.getElementById("mediaType").value == "show") {
                var response = await fetch("{{list_id}}/add/tv", {
                    method: "POST",
                    body: showAutoInput.value,
                    mode: "same-origin",
                    headers: {'X-CSRFToken': csrftoken},
                })
                data = await response.json()
                listEntry = document.createElement("li")
                if (document.getElementById("empty_list_notif") != null) {
                    document.getElementById("empty_list_notif").remove()
                }
                listEntry.appendChild(document.createTextNode(data.title + " | Seasons: " 
                + String(data.seasons) + " | Episodes: " + String(data.episodes)))
                var currentPlace = document.createElement("div")
                currentPlace.innerText = "Current Season: 1 | Current Episode: 1"
                currentPlace.className = "current_place"
                listEntry.appendChild(currentPlace)
                var updateButton = document.createElement("input")
                updateButton.type = "button"
                updateButton.value = "Update Place"
                updateButton.dataset.entry = data.entryID
                updateButton.dataset.season = 1
                updateButton.dataset.episode = 1
                updateButton.onclick = updatePlace
                listEntry.appendChild(updateButton) 
            } else {
                var response = await fetch("{{list_id}}/add/movie", {
                    method: "POST",
                    body: showAutoInput.value,
                    mode: "same-origin",
                    headers: {'X-CSRFToken': csrftoken},
                })
                data = await response.json()
                listEntry = document.createElement("li")
                if (document.getElementById("empty_list_notif") != null) {
                    document.getElementById("empty_list_notif").remove()
                }
                listEntry.appendChild(document.createTextNode(data.title + " | Running Time: " 
                + String(data.runtime) + " Minutes | Release Year: " + String(data.releaseYear)))
                listEntry.appendChild(document.createElement("br"))
            }
            var deleteButton = document.createElement("input")
            deleteButton.type = "button"
            deleteButton.value = "Delete Entry"
            deleteButton.dataset.entry = data.entryID
            deleteButton.onclick = deleteEntry
            
            listEntry.appendChild(deleteButton)
            document.getElementById("show_list").appendChild(listEntry)
            inputError.hidden = true
        } catch(error) {
            console.error(error)
            inputError.hidden = false
        }
        showAutoSubmit.disabled = false
        showAutoSubmit.value = "Add to list"
        showAutoInput.disabled = false
        showAutoInput.value = ""
    }
</script> 