{% extends "list/base.html" %}
{% block title %}Show Me{% endblock %}
{% block content %}
    <h1>Show Me</h1>
    <h2>Site Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci a scelerisque purus semper eget duis at. Augue eget arcu dictum varius duis. Maecenas pharetra convallis posuere morbi leo urna molestie. Dui faucibus in ornare quam. Id consectetur purus ut faucibus pulvinar. In aliquam sem fringilla ut morbi. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. In arcu cursus euismod quis viverra nibh cras pulvinar. Eleifend mi in nulla posuere sollicitudin aliquam. Diam quam nulla porttitor massa. Amet consectetur adipiscing elit pellentesque habitant.<p>
{% endblock content %}