{% extends "list/base.html" %}
{% block title %}Show Me{% endblock %}
{% block content %}
    <h1>Show Me</h1>
    <h2>How to use this site</h2>
    <ol>
        <li>Login or make an account.
            {% if user.is_authenticated %}
                <span style="color:green;"> 🎉 Congrats! You're logged in! 🎉 Keep going! </span>
            {% endif %}
        </li>
        <li>Navigate to 'My Lists'.</li>
        <li>Make a list.</li>
        <li>Click on a list to add to it.</li>
        <li>Add a movie or a TV show. It is case sensitive, so be mindful.</li>
        <li>If the automatic entry mode can't find what you're looking for, try using the manual entry instead. Use the provided Wikipedia page to do your searching.</li>
    </ol>
    To look at a different list, you'll need to click twice. The first click takes the first list away, the next will load in the new one.
{% endblock content %}