{% extends "list/base.html" %}
{% block title %}Show Me{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>{{list_title}}</h1>
        <a href="/list">Back</a>
    {% endif %}
    {% if entry_list %}
        <ul>
            {% for entry in entry_list %}
                <li>{{entry.title}} | Rating: {{entry.rating}}/10 | Episodes: {{entry.episodeCount}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This list is empty</p>
    {% endif %}
    <form id="add entry" action="{{list_id}}/add" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Show Title">
        <label for="rating">Rating:</label>
        <input type="number" name="rating">
        <label for="episodeCount">Episode Count:</label>
        <input type="number" name="episodeCount">
        <input type="submit" value="Add Entry">
    </form>
{% endblock %}