<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Create Account</title>
</head>
<body>
    <h1>new account page</h1>
    <form id="new user" action="/new_user/create" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password_confirm" placeholder="Re-enter Password">
        <input type="submit" value="Create Account">
    </form>
</body>