{% extends "list/base.html" %}
{% block title %}Show Me{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>User Settings</h1>
        <form action="/update_settings/" method="post">
            {% csrf_token %}
            <input type="text" name="country" placeholder="" value="{{current_settings.defaultcountry}}">
            <label for="country">Default country when searching for shows. (Enter as a term, e.g. American, Dutch, etc.)</label>
        </br>
        </br>
            <input type="submit" id="save_settings" value="Save Settings">
        </form>
    {% else %}
        <p>Unable to display page.</p>
        <a href="{% url 'login' %}">Please log in to view.</a>
    {% endif %}
{% endblock content %}