{% extends "list/base.html" %}
{% comment %} 
    Acknowlegements: referenced Alpine.js and htmx docs
{% endcomment %}
{% block title %}Show Me{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Lists</h1>
<div id="list-container" x-data="{ open: false }">
    <div id="list">
    {% if user_lists %}
        <form id="add entry" action="/list/createnew" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="List Title">
            <input type="submit" value="Create New List">
        </form>
            <ul>
                {% for list in user_lists %}
                    <li>
                        <div hx-get="{{list.listid}}" hx-target="#entry-list" x-on:click="open = ! open">
                            {{list.listname}}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any lists! Why not add one?</p>
            <form id="add entry" action="/list/createnew" method="post">
                {% csrf_token %}
                <input type="text" name="title" placeholder="List Title">
                <input type="submit" value="Create New List">
            </form>
        {% endif %}
    {% else %}
        <p>Unable to display page.</p>
        <a href="{% url 'login' %}">Please log in to view.</a>
    {% endif %}
    </div>
    <div id="entry-list" x-show="open">
        {% include "partials/list.html" %}
    </div>
</div>
{% endblock  %}    
