* {
    font-family: 'Dosis', sans-serif;
}

/* Nav Styles */
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(180, 255, 180);
    font-size: large;
  }
  
nav ul li, 
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px 8px;
    float: left;
}

nav .main-nav {
    display: flex;
    align-items: center;
}

/* Content Styles */
body{
    background-color: rgb(230, 240, 228);
    margin: auto;
}

#container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

