/* 
    Referenced https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css for styling input buttons
*/
* {
    font-family: 'Dosis', sans-serif;
    font-size: large;
}

/* Nav Styles */
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(180, 255, 180);
    font-weight: bolder;
  }
  
nav ul li, 
nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px 8px;
    float: left;
}

nav ul li a {
    color: #f79d84;
}

nav .main-nav {
    display: flex;
    align-items: center;
}

/* Content Styles */
body{
    background-color: rgb(230, 240, 228);
    margin: auto;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
}

input[type=button],
input[type=submit]{
    border-radius: 15px;
    background-color: #a7c6da;
}

ul li{
    list-style-type: none;
}

#content{
    margin: 0 4em;
}

#list-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

iframe{
    width: 90%;
    height: 500px;
    margin: 10px;
}
